#print-footer {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
}
@page {
    size: letter;
    margin: 20px;
}

#print-header {
    position: fixed;
    top: 0;
}

#print-header, #header-space {
    height: 120px;
}

#print-footer, #footer-space{
    height: 70px;
}

#header-space{ 
    height: 140px;
}

/*------------------------------------------------------------------------------------------*/

table {
    width: 100%;
    border-collapse: collapse;
}

#print-header *, #tabla-maestra tbody {
    border: 0 !important;
}

.tabla-interna tr td {
    border: 1px solid black;
    padding: 5px;
}
th, .th {
    border: 1px solid black;
    font-weight: bold;
    color: black !important;
    background-color: white !important;
}
img{
    width: 100%;
}
.header{
    margin: 0px; text-align: center;
}
